body{
  background-color:white;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width:5%;
  border-color:#5d5aec;
}


h1 {
  color:#5d5aec;
}
h2 {
color:#5d5aec;
}
h3 {
color:#5d5aec;
;
}
h4 {
color: #5d5aec;
}



.ism{
  width:455px;
  background-color: rgb(153, 231, 241);
  margin:10px;
  padding:10px;
}
.bio{
width:850px;
  height:30px;
  background-color: rgb(107, 241, 119);
  margin:10px;
  padding:10px;
}
.rezyume{
  background-color:#eff303;
width:850px;
height:345px;
margin:10px;
padding:10px;
}


.uqish{
  width:455px;
  background-color: rgb(248, 105, 105);
  margin:10px;
  padding:10px;
}
.til {
  padding:10px;
  margin:10px;
}






